body{
    background-image: url(background.jpg);
}
.image{
    background: url(pexels.jpg) no-repeat center;
    background-size: cover;
    height: 600px;
    position: relative;
    opacity: 0.7;
}
.text{
    background-size: 250px;
    background-color: aliceblue;
    opacity: 0.8;
    width: fit-content;
    padding: 2%;
    border-radius: 40px;
    margin-left: 100px;
    margin-top: 100px;
    /* text-align: center; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    color: black;
}
.first:hover{
    padding: 8px;
    background-color: wheat;
    color: black;
}
.second{
    color:darkslategray;
}
.second:hover{
    padding: 8px;
    background-color: wheat;
    color: black;
}
.link{
    height: 35px;
    background-color: black;
}
.link:active
{
    color: blueviolet;
    background-color: chocolate;
}
.link:hover
{
    cursor: grab;
    color: orange;
    background-color: blanchedalmond;
}
.link:visited{
    color: azure;
    background-color: coral;
}