body {
    font-family: system-ui;
    color: rgb(0, 0, 0);
    text-align: center; 
    background-color: rgb(248, 255, 209);
}

#clock{
    position: absolute;
    top: 30%; 
    left:30%; 
    background-color: rgb(255, 212, 212);
    font-size: 6rem;
    width: 35rem;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.181);
    border-radius: 20px;
}